/* Параллакс */


body {
  padding: 0;
  margin: 0;
  background-color: #ffdcae !important; 
  font-family: 'Playfair Display', serif;
  color: #fff;
}

#hero {
  height: 850px;
  overflow: hidden;
  position: relative;
}

#content {
  background-color: #110005;
}

.layer {
  background-position: bottom center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 850px;
  position: fixed;
  z-index: -1;
}

#hero-mobile {
  display: none;
  background: url('../image/movbile.png') no-repeat center bottom/cover;
  height: 320px;
}

.first-section {
  padding: 50px 0 20px 0;
}

.text-header {
  font-size: 50px;
  text-align: center;
}

h1 {
  line-height: 120%;
  margin-bottom: 30px;
}

p {
  color: #ede0d5;
  font-size: 18px;
  line-height: 150%;
}

#hero, .layer {
  min-height: 800px;
}

.layer-bg {
background-color: #000000;
  background-image: url('../image/parallax0.png');
  background-size: cover;
  background-position: bottom;
}

.layer-1 {
  background-image: url('../image/sloy_chetverty2.png');
  background-size: cover;
  background-position: left bottom;
}

.layer-2 {
  background-image: url('../image/sloy_tretiy.png');
  background-size: cover;
  background-position-x: -400px;
}

.layer-3 {
  background-image: url('../image/sloy_vtoroy2.png');
  background-size: cover;
  background-position:500px right bottom;
  
}

.layer-4 {
  background-image: url('../image/sloy_1.png');
  background-size: cover;
  background-position-x:0px;
  background-position:left bottom; 
}

.layer-5 {
  background-image: url('../image/parallax5.png');
  background-size: cover;
  background-position: middle bottom;
}

.layer-6 {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_01.png\a 		");
}

/* .layer-overlay {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_overlay.png\a 		");
} */

@media only screen and (max-width: 768px) {
#content {
  background-color: #110005;
}
  #hero {
    display: none;
  }

  #hero-mobile {
    display: block;
  }
}
.tutorial-link {
  color: #fff;
  font-size: 18px;
  text-decoration: underline;
}
.tutorial-link:hover {
  color: #ede0d5;
}
